<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>
</head>
<body>
게시판
<header>
세션 아이디 : <span th:text="${user}"></span><br>
<a th:href="@{/user/logout}">로그아웃</a>
</header>

<a th:href="@{/}"><td>테스트</td></a>

<table th:border="1">
    <tr>
        <th th:text="번호"></th>
        <th th:text="작성자"></th>
        <th th:text="제목"></th>
        <th th:text="내용"></th>
        <th th:text="등록일자"></th>
        <th th:text="조회수"></th>
    </tr>
    <tr th:each="board : ${boardlist}">
        <td><a th:text="${board.b_num}" th:href="@{/board/boardone/{b_num}(b_num=${board.b_num})}"></a></td>
        <td th:text="${board.b_writer}"></td>
        <td th:text="${board.b_title}"></td>
        <td th:text="${board.b_content}"></td>
<!--        <td th:text="${board.b_regdat}"></td>-->
        <td th:text="${#dates.format(board.b_regdat,'yy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${board.b_hit}"></td>
    </tr>
</table>


</body>
</html>